<app-menu></app-menu>

<div class="main">
    <div class="cadastro">
        <h1 class="titulos">Cadastro</h1>
        <hr class="titulo">

        <form [formGroup]="formCadastro" (ngSubmit)="cadastro()">
            <input class="form full" type="text" placeholder="Nome Completo" formControlName="nome" required> <br>
            
            <span class="form-33">Data de Nascimento: <input type="date" formControlName="data" required> </span>
            <input class="form form-33" type="text" placeholder="CPF" formControlName="cpf" required>
            <span class="form-33" style="margin-left: 0px;">
                <input type="radio" name="genero">
                <label>Masculino</label>
                <input type="radio" name="genero">
                <label for="F">Feminino</label>
                <input type="radio" name="genero">
                <label for="O">Outro</label>
            </span>
            <br>
            <div style="width: 100%;">
                <input class="form form-50" [value]=pegaEmail() type="email" placeholder="E-mail" required>
                <input class="form form-50" type="password" placeholder="Senha" formControlName="senha" required>
            </div>  
            <br>
            <input class="form full" type="text" placeholder="Rua" formControlName="rua" required>
            <br>
            <input class="form full" type="text" placeholder="Cidade" formControlName="cidade" required>
            <br>
            <input class="form form-33" type="text" placeholder="CEP" maxlength=8 formControlName="cep" required>
            <input class="form form-33" type="text" placeholder="UF" maxlength=2 formControlName="estado" required>
            <input class="form form-33" type="text" placeholder="Número" formControlName="numero" required>
            <br>
            <input class="form form-50" type="text" placeholder="Bairro" formControlName="bairro" required>
            <input class="form form-50" type="text" placeholder="Complemento" formControlName="complemento" required>
            <br>
            <input class="form form-50" type="text" placeholder="Celular" formControlName="celular" required>
            <input class="form form-50" type="text" placeholder="Telefone" formControlName="telefone" required>
            <br>

            <div style="text-align: center; margin-top: 35px;">
                <button class="main-button">Cadastrar</button>
            </div>
        </form>
    </div>

</div>