<app-menu></app-menu>

<div class="main">
    <div class="cadastro">
        <h1 class="titulos">Cadastro</h1>
        <hr class="titulo">

        <form [formGroup]="formCadastro" (ngSubmit)="cadastro()">
            <input class="form full" type="text" placeholder="Nome Completo" formControlName="nome" required> <br>
            
            <input class="form form-50" type="text" placeholder="CPF" maxlength=11 formControlName="cpf" required>
            <span class="form-50">
                <input type="radio" formControlName="genero" value="F">
                <label>Feminino</label>
                <input type="radio" formControlName="genero" value="M">
                <label>Masculino</label>
                <input type="radio" formControlName="genero" value="O">
                <label>Outro</label>
            </span>
            <br>
            <div style="width: 100%;">
                <input class="form form-50" type="email" placeholder="E-mail" formControlName="email" required>
                <input class="form form-50" type="password" placeholder="Senha" formControlName="senha" required>
            </div>  
            <br>
            <input class="form full" type="text" placeholder="Rua" formControlName="rua" required>
            <br>
            <input class="form full" type="text" placeholder="Cidade" formControlName="cidade" required>
            <br>
            <input class="form form-33" type="text" placeholder="CEP" maxlength=8 formControlName="cep" required>
            <input class="form form-33" type="text" placeholder="UF" maxlength=2 formControlName="estado" required>
            <input class="form form-33" type="text" placeholder="Número" formControlName="numero" required>
            <br>
            <input class="form form-50" type="text" placeholder="Bairro" formControlName="bairro" required>
            <input class="form form-50" type="text" placeholder="Complemento" formControlName="complemento" required>
            <br>
            <input class="form form-50" type="text" placeholder="Celular" maxlength=11 formControlName="celular" required>
            <input class="form form-50" type="text" placeholder="Telefone" maxlength=11 formControlName="telefone" required>
            <br>

            <div style="text-align: center; margin-top: 35px;">
                <button class="main-button">Cadastrar</button>
            </div>
        </form>
    </div>

</div>